In [1]:
# import Dependencies
import requests
import pandas as pd
from census import Census
from us import states

In [2]:
# configure key
api_key = '95131c6291fcbaa6957370c7d5b7802a76088095'
c = Census(api_key, year=2013)

In [3]:
censusData = c.acs5.get(('NAME', "B19013_001E", "B01003_001E", "B01002_001E",
                         "B19301_001E",
                         "B17001_002E"),
                        {'for': 'zip code tabulation area'})
          # {'for': 'state:{}'.format(states.MD.fips)})
censusDf = pd.DataFrame(censusData)
censusDf.head()

,B01002_001E,B01003_001E,B17001_002E,B19013_001E,B19301_001E,NAME,zip code tabulation area
0,36.6,18450.0,10816.0,12041.0,7380.0,ZCTA5 00601,00601
1,38.6,41302.0,22409.0,15663.0,8463.0,ZCTA5 00602,00602
2,38.9,53683.0,26220.0,15485.0,9176.0,ZCTA5 00603,00603
3,37.3,6591.0,3721.0,15019.0,6383.0,ZCTA5 00606,00606
4,39.2,28963.0,14569.0,16707.0,7892.0,ZCTA5 00610,00610

In [4]:
censusDf = censusDf.rename(columns = {"B19013_001E": "Population",
                                  "B01002_001E": "Median Age",
                                  "B19013_001E": "Household Income",
                                  "B19301_001E": "Per Capita Income",
                                  "B17001_002E": "Poverty Count",
                                  "NAME": "Name", "zip code tabulation area": "Zipcode"})
censusDf.head()

,Median Age,B01003_001E,Poverty Count,Household Income,Per Capita Income,Name,Zipcode
0,36.6,18450.0,10816.0,12041.0,7380.0,ZCTA5 00601,00601
1,38.6,41302.0,22409.0,15663.0,8463.0,ZCTA5 00602,00602
2,38.9,53683.0,26220.0,15485.0,9176.0,ZCTA5 00603,00603
3,37.3,6591.0,3721.0,15019.0,6383.0,ZCTA5 00606,00606
4,39.2,28963.0,14569.0,16707.0,7892.0,ZCTA5 00610,00610

In [5]:
censusDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33120 entries, 0 to 33119
Data columns (total 7 columns):
Median Age           32589 non-null float64
B01003_001E          33120 non-null float64
Poverty Count        33120 non-null float64
Household Income     31985 non-null float64
Per Capita Income    32546 non-null float64
Name                 33120 non-null object
Zipcode              33120 non-null object
dtypes: float64(5), object(2)
memory usage: 1.8+ MB

In [ ]:
# import gmaps
# import os
# from config import api_key
# # import numpy as np
# # import matplotlib.pyplot as plt
# # import requests


# # Census API Key
# from config import api_key
# c = Census(api_key, year=2013)